*{
    margin: 0;
    padding: 0;
}
.container{
    font-family: 'Ubuntu', sans-serif;
}
.main{
    z-index: 3;
    min-height: 100vh;
    min-width: auto;
}
.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: fit-content;
}
.header a{
    padding: 10px;
    color: white;
    font-size: x-large;
}
.left{
    margin-left: 40px;
}
a{
    text-decoration: none;
}
.main-heading h1{
    padding-top: 100px;
    font-size: 100px;
    color: white;
    font-weight: bolder;
}
.main-heading h2{
    padding-top: 50px;
    font-size: 35px;
    color: white;
}
.button{
    text-align: center;
    font-size: larger;
    padding: 10px 20px;
    margin-right: 10px;
    font-weight: bold;
}
.btn1{
    background-color: rgba(0, 255, 255, 0);
    border: 2px solid rgb(22, 61, 255);
    color: white;
}
.btn2{
    background-color: rgb(75, 0, 224);
    color: white;
}
.btn{
    margin-top: 50px;
    padding: 20px;
}
#main1{
    z-index: 3;
    text-align: center;
    background-image: url('https://static.wixstatic.com/media/84770f_6197f6bd0a9c41788f15876c8dc8e73b~mv2.jpg/v1/fill/w_1519,h_911,al_l,q_85,usm_0.66_1.00_0.01,enc_auto/84770f_6197f6bd0a9c41788f15876c8dc8e73b~mv2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-position-y:0%;
    background-size: cover;
}
.btn1:hover{
    background-color: rgb(0, 4, 255);
}
.btn2:hover{
    background-color: rgba(1, 82, 136, 0);
    color: white;
}
.main2{display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center ;
    min-height: 100px;
    background-color: rgb(38, 0, 162);
    padding-top: 30px;
    font-size: xx-large;
    text-align: center;
    color: white;
}
.main2 h2{
    margin: 20px 0px;
}
.main3-2{
    padding: 100px 80px;
    color: white;
    background-color: black;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.main3-2 h1{
    font-size: xx-large;
    height: fit-content;
}
.main3-1{
    min-height: 100px;
    max-width: inherit;
    background-color: black;
}
#image{
    max-height: 600px;
    width: 100%;
}
.header a:hover{
    color: aqua;
    transform: scale(0.9,0.9);
}
.footer{
    background-color: black;
    color: white;
    padding: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 5px solid blue;
}
.footer-1{
    margin-right: 20px;
    padding: 30px;
    max-width: 400px;
}
.footer-2{
    margin-top: 10px;   
}
.footer-2 h1{
    margin-bottom: 10px;
}
.text-width{
    width: 200px;
}
.end{
    text-align: center;
    background-color: black;
    color: white;
    border-top: 5px solid rgb(1, 1, 184);
    border-bottom: 5px solid rgb(0, 0, 155);
    font-weight: bolder;
}
.movetop{
    background-color: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.392);
    max-width: 60px;
    max-height: 60px;
    position: fixed;
    bottom: 2%;
    right: 5px;
    z-index: 4;
}
.movetop button{
    border: 4px double blue;
    border-radius: 15px;
    font-size: xx-large;
}
#left{
    position: absolute;
    top: 50%;
    left: 0%;
    color: white;
    z-index: 4;
    font-size: xx-large; background-color: rgba(240, 248, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0.633);
    
}
#right{
    position: absolute;
    top: 50%;
    right: 0%;
    color: white;
    z-index: 4;
    background-color: rgba(240, 248, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0.633);
    font-size: xx-large;
}
#left:hover, #right:hover{
    transform: scale(0.9,0.9);
}