*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url('./pexels-anush-gorak-1431282.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    font-family: 'Ubuntu', sans-serif;
}
.header{
    min-height:max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Ubuntu', sans-serif;
    position:sticky;
}
.header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.header1{
    margin-top: 5px;
    justify-self: center;
    text-align: center;
    flex-wrap: wrap;
    align-self: center;
}
.header2{
    justify-content: space-between;
    text-align: center;
    align-self: center;
    flex-wrap: wrap;
}

.min-height{
    min-height: 100vh;
}
#header-image{
    max-width: 50px;
    max-height: auto;
    float:left;
    margin-right: 10px;
}
#left-heading{
    font-size: xx-large;
    font-weight: bolde;
}
.right-heading{
    padding-left: 20px;
    font-size:x-large;
    font-weight: bold;
}
.btn{
    text-align: center;
    padding: 20px;
}
.button-style{
    text-align: center;
    font-size: larger;
    padding: 20px;
    font-weight: bold;
}
.btn1{
    background-color:rgb(255, 255, 255);
}
.btn2{
    background-color: rgb(0, 0, 0);
    color: white;
}
.btn1:hover{
    transform: scale(0.9,0.9);
}
.btn2:hover{
    transform: scale(0.9,0.9);
}
#button-content{
    padding: 20px;
}
.pricing-table{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    min-width: 600px;
    justify-content: center;
}
.table{
    border: 2px solid black;
    padding: 20px;
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: fit-content;
    max-width: fit-content;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    font-weight: bolder;
}
.table h3,h1{
    margin-bottom: 20px;
    
}
.table li{
    margin-top: 10px;
}
.block-btn{
    background-color: inherit;
    max-width: fit-content;
    margin-top: 30px ;
    align-self: center;
    padding: 10px;
    border-radius: 10px;
    font-size:larger;
    background-color: rgb(255, 179, 179);
}
.block-btn:hover{
    background-color: rgb(255, 255, 255);
    transform: scale(0.9,0.9);
}

.table:hover{
    transform: scale3d(0.9,0.9,1);
}

.btn h2{
    color: aliceblue;
}
.footer{
    color: aliceblue;
    margin-bottom: 0%;
    height: fit-content;
    text-align: center;
}